[submodule "Packages/Shadalyze"]
	path = Packages/Shadalyze
	url = git@github.com:AnyGCn/Unity-Malioc-Shadalyze.git
[submodule "Packages/BrgRenderSystem"]
	path = Packages/BrgRenderSystem
	url = git@github.com:AnyGCn/BrgRenderSystem.git
